# Python
*.pyc
*.pyo
__pycache__/
venv/
env/
# *.pyd
*.db
*.log

# C++ / Visual Studio
*.obj
*.o
*.out
*.exe
*.dSYM
*.dll
*.lib
*.so
build/
dist/

# CMake
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# misc
todo_for_cursor.txt
src/simulator_info.txt
.vscode/
*.old